body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


.project-menu .nav-link {
    font-weight: 400;
    font-size: 14px;
    padding: .2rem 1rem;
}
.project-country {
    color: #ff780c;
}
/*
 * Navbar
 */
.navbar-dark {
    background-color: #681b88!important;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*
 * chart
 */
div.too_small {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index:1000000;
    background-color: #fff;
    color: #aaa;
    text-align: center;
}
div.too_small p {
    font-size: 35px;
    margin: 50% 0;
}
@media only screen and (max-width: 999px) {
    div.too_small {
        display: block;
    }
}
@media only screen and (min-width: 1000px) {
    div.too_small {
        display: none;
    }
    .legend {
        margin-top: 100px;
    }
    .weeks td {

        border: 0px solid #fff;
    }
    .todaycell {
        background-color: #ffa988;
    }
    .weekcell {
        height:16px;
        width:16px;
        font-size: .6rem;
        text-align: center;
    }
    .namecell {
        height:16px;
        width:100px;
        font-size: .6rem;
    }
    .emptycell {
        height:16px;
        width:16px;
        background-color:#beca5c;
    }
    .emptycell:hover {
        background-color:#8d9c14;
    }
    .vacationcell {
        height:16px;
        width:16px;
        background-color:#a2a2a2;
    }
    .dbl-projectcell-left {
        height:16px;
        width:8px;
        background-color:#ef8d32;
        float:left;
    }
    .dbl-projectcell-right {
        height:16px;
        width:8px;
        margin-left:8px;
        background-color:#cc561e;
    }
    .projectcell {
        height:16px;
        width:16px;
        background-color:#ef8d32;
    }
    .projectcell:hover {
        background-color:#d47720;
    }
}
@media only screen and (min-width: 1920px) {
    div.too_small {
        display: none;
    }
    .legend {
        margin-top: 120px;
    }
    .weeks td {
        border: 0px solid #fff;
    }
    .todaycell {
        background-color: #ffa988;
    }
    .weekcell {
        height:22px;
        width:22px;
        font-size: 1rem;
        text-align: center;
    }
    .namecell {
        height:22px;
        width:150px;
        font-size: 1rem;
    }
    .emptycell {
        height:22px;
        width:22px;
        background-color:#beca5c;
    }
    .emptycell:hover {
        background-color:#8d9c14;
    }
    .vacationcell {
        height:22px;
        width:22px;
        background-color:#a2a2a2;
    }
    .dbl-projectcell-left {
        height:22px;
        width:11px;
        background-color:#ef8d32;
        float:left;
    }
    .dbl-projectcell-right {
        height:22px;
        width:11px;
        margin-left:11px;
        background-color:#cc561e;
    }
    .projectcell {
        height:22px;
        width:22px;
        background-color:#ef8d32;
    }
    .projectcell:hover {
        background-color:#d47720;
    }
}
/*
 * tooltip
 */
.tooltip-main {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-weight: 700;
  background: #f3f3f3;
  border: 1px solid #737373;
  color: #737373;
  margin: 4px 121px 0 5px;
  float: right;
  text-align: left !important;
}

.tooltip-qm {
  float: left;
  margin: -2px 0px 3px 4px;
  font-size: 12px;
}

.tooltip-inner {
  max-width: 236px !important;
  height: 50px;
  font-size: 12px;
  padding: 10px 15px 10px 20px;
  background: #FFFFFF;
  color: rgb(0, 0, 0, .7);
  border: 1px solid #737373;
  text-align: left;
 }


.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #fff;
}

#editCellType {
    font-size: 18px;
    padding-top: 26px;
    color: #0075a2;
}
#editCellChoice {
    margin-top: 27px;
    color: #0075a2;
}


.modal-btn-delete {
    margin-top: 25px !important;
    color: #b31313 !important;
    opacity: 1 !important;
}
