
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{url_for('.static',filename='img/favicon.ico')}}">

    <title>SDI Team Planner</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{{url_for('.static',filename='css/style.css')}}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SDI Team</a>

    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('home')}}">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
                {% for guy in guys %}
              <li class="nav-item">
                <a class="nav-link" href="" data-toggle="modal" data-target="#personalCard" data-id="{{guy.id}}" data-person="{{guy.name}}">
                  <span data-feather="smile"></span>
                    {{guy.name}}
                </a>
              </li>
                {% endfor %}
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                2021
              </button>
            </div>
          </div>
            <table class="weeks">
                <tr>
                    <td></td>
                    {% for i in range(1, 53) %}
                    <td>
                        <div class="weekcell {% if loop.index == thisweek %}todaycell{% endif %}">
                            {{loop.index}}
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% for guy in guys %}
                <tr>
                    <td>
                        <div class="namecell">{{guy.name}}</div>
                    </td>
                    {% for i in range(1, 53) %}
                    <td>
                        {% if loop.index in guy.plan %}
                            {% if guy.plan[loop.index][0].type == "V" %}
                            <div class="vacationcell" data-week={{loop.index}}
                                 data-guy="{{guy.id}}" data-project="{{guy.plan[loop.index][0].id}}"></div>
                            {% elif guy.plan[loop.index]|length() == 1 %}
                            <div class="projectcell" data-toggle="tooltip" data-placement="bottom"
                                 title="{{guy.plan[loop.index][0].project}}" data-week={{loop.index}}
                                 data-guy="{{guy.id}}" data-project="{{guy.plan[loop.index][0].id}}"></div>
                            {% elif guy.plan[loop.index]|length() > 1 %}
                            <div class="dbl-projectcell-left" data-toggle="tooltip" data-placement="bottom"
                                 title="{{guy.plan[loop.index][0].project}}" data-week={{loop.index}}
                                 data-guy="{{guy.id}}" data-project="{{guy.plan[loop.index][0].id}}"></div>
                            <div class="dbl-projectcell-right" data-toggle="tooltip" data-placement="bottom"
                                 title="{{guy.plan[loop.index][1].project}}" data-week={{loop.index}}
                                 data-guy="{{guy.id}}" data-project="{{guy.plan[loop.index][1].id}}"></div>
                        {% endif %}
                        {% else %}
                        <div class="emptycell" data-week={{loop.index}} data-id="{{guy.id}}"></div>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <table class="legend">
                <tr>
                    <td><div class="namecell">Plannable</div></td>
                    <td><div class="emptycell"></div></td>
                </tr>
                <tr>
                    <td><div class="namecell">Vacation</div></td>
                    <td><div class="vacationcell"></div></td>
                </tr>
                <tr>
                    <td><div class="namecell">Project</div></td>
                    <td><div class="projectcell"></div></td>
                </tr>
            </table>
        </main>
      </div>
    </div>


    <div class="modal fade" id="personalCard" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="personalCardLabel">New message</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-row">
                      <div class="col-sm-3">
                          <label class="modal-form-label">Project</label>
                      </div>
                    <div class="col-sm-4">
                        <label>Start</label>
                        <input type="date" name="start">
                    </div>
                    <div class="col-sm-4">
                        <label>End</label>
                        <input type="date" name="end">
                    </div>
                      <div class="col-sm-1">
                          <button type="button" class="close modal-btn-delete"><span data-feather="trash-2"></span></button>
                      </div>
                    </div>
              </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

     <div class="modal fade" id="editCell" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="editCellLabel">Change details</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-row">
                      <div class="col-sm-3">
                          <label class="modal-form-label" id="editCellType">Project</label>
                      </div>
                    <div class="col-sm-4">
                        <label>Start</label>
                        <input type="date" name="start" id="editCellStart">
                    </div>
                    <div class="col-sm-4">
                        <label>End</label>
                        <input type="date" name="end" id="editCellEnd">
                    </div>
                      <div class="col-sm-1">
                          <button type="button" class="close modal-btn-delete"><span data-feather="trash-2"></span></button>
                      </div>
                    </div>
              </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{url_for('.static',filename='js/main.js')}}"></script>
  </body>
</html>
